body {
  margin: 0 auto;
}
a {
  text-decoration: none;
}
figure {
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: 5px auto;
}
.header > a:link,
.header > a:visited {
  color: rgb(0, 45, 86);
}
.header--logo {
  font-size: 1.5rem;
  font-weight: 600;
}
.header--empty {
  flex: 1;
}
.header--login,
.header--join {
  line-height: 2rem;
  margin: 0 10px;
  font-size: 13px;
  font-weight: bold;
}
.header > div {
  line-height: 2rem;
  font-size: 15px;
}
.nav {
  background-color: rgb(0, 45, 86);
  height: 3rem;
  font-size: 1.2rem;
}
.nav--container {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: inherit;
}
.nav--container > a:link,
.nav--container > a:visited {
  color: white;
}
.nav--container > a:hover {
  color: rgb(157, 159, 162);
}
.footer {
  height: 150px;
  background-color: rgb(0, 45, 86);
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.5rem;
}
.footer--container {
  width: 1000px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.footer--container > img {
  width: 100px;
  margin-right: 15px;
}
.footer--title {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.8rem;
  margin-right: 100px;
}
.footer span {
  color: rgb(141, 113, 80);
}
