/*HUFS NAVY: rgb(0, 45, 86)
* HUFS GOLD: rgb(141, 113, 80)
* HUFS SILVER: rgb(157, 159, 162)
* HUFS GRAY: rgb(218, 218, 211)
*/

.poster {
  margin: 0;
}
.poster > img {
  width: 100%;
}
.poster--bottom {
  height: 3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  top: -3.25rem;
}
.poster--container {
  width: 1000px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.poster--numbers {
  display: flex;
  width: 160px;
  justify-content: space-between;
}
.poster--numbers > div {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: center;
  background-color: rgb(157, 159, 162);
}
.poster--numbers > div:first-child {
  background-color: rgb(141, 113, 80);
}
.poster--numbers:hover {
  cursor: pointer;
}
.movies {
  height: 500px;
  background-color: rgb(218, 218, 211);
  position: relative;
  top: -3.25rem;
}
.movies--more {
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 10px 0px;
}
.movies--more > a:link,
.movies--more > a:visited {
  color: black;
}
.movies--container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  height: inherit;
}
.movies--container img {
  width: 230px;
}
.movies--name {
  width: 230px;
  background-color: white;
  text-align: center;
  color: rgb(157, 159, 162);
  line-height: 2.2rem;
}
.movies--name span {
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.ad {
  display: flex;
  flex-direction: row;
  width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
}
.ad--video,
.ad--event {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1rem;
}
.ad--title {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.ad--event > div {
  height: 378px;
  background-color: rgb(218, 218, 211);
  display: flex;
  flex-direction: column;
}
.ad--event > div > span {
  padding: 15px;
}
.span--title {
  font-weight: bold;
}
.appear {
  animation-name: appearing;
  animation-duration: 1s;
}
@keyframes appearing {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.popup {
  background-color: rgb(157, 159, 162);
  position: absolute;
  z-index: 2;
  width: 230px;
  height: 412.8px;
  display: none;
}
.popup__title {
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  width: 200px;
  height: 80px;
  margin: 50px auto 20px auto;
  word-break: keep-all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__desc {
  color: white;
  font-size: 16px;
  line-height: 140%;
}
.popup button {
  border: none;
  background-color: rgb(0, 45, 86);
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  margin-top: 20px;
}
.popup button:focus {
  outline: none;
}
.popup button:hover {
  cursor: pointer;
}
